---
import '../styles/global.css';
---

<html>
    <h3 class="my-4 text-center text-3xl font-semibold text-gray-700">Personas Juridicas</h3>
<script src="//unpkg.com/alpinejs" defer></script>
<a href="/MerenderoSol">
    <div class="w-screen bg-slate-100 dark:bg-slate-900 flex justify-center items-center" >
    
        <div class="mb-3 flex w-full max-w-screen-xl transform cursor-pointer flex-col justify-between rounded-md bg-white bg-opacity-75 p-6 text-slate-800 transition duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg dark:bg-slate-700 dark:bg-opacity-25 dark:text-slate-300 lg:flex-row lg:p-4">
            <div class="flex w-full flex-row lg:w-3/12">
                <div class="relative flex flex-col">
                <div class="flex h-12 w-12 flex-shrink-0 flex-col justify-center rounded-full bg-slate-200 bg-opacity-50 dark:bg-slate-600">
                    <img src="/public/merenderosol.jpg" 
                        class="z-10 h-12 w-12 rounded-full object-cover shadow hover:shadow-xl" 
                        alt="Pueblo Mio" />
                </div>
                </div>
    
                <div class="ml-4 self-center overflow-x-hidden">
                    <div class="w-full truncate text-xl font-extrabold leading-5 tracking-tight">Merendero Sol</div>
                    <div class="text-sm text-slate-500">Villa Carlos Paz, Cordoba</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">Junio 6, 2024</div>
                <div class="text-sm text-slate-500">Hace 2 horas</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">
                    <span class="align-middle">$120,234.56</span>
                    <span class="text-[8px] ml-2 rounded bg-green-600 px-2 py-1 align-middle font-bold uppercase text-white">Pagado</span>
                </div>
                <div class="text-sm text-slate-500">Balance</div>
                </div>
            </div>
    
            <div class="w-full self-center px-1 pt-4 pb-2 lg:w-1/6 lg:px-0 lg:pt-0 lg:pb-0">
                <div class="text-base font-bold leading-4 tracking-tight">Enviado</div>
                <div class="status-bars w-full pt-2">
                <div class="flex flex-row lg:pr-6">
                    <div class="max-w-6 h-1 w-1/5 rounded bg-green-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-amber-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="/MerenderoLuna">
    <div class="w-screen bg-slate-100 dark:bg-slate-900 flex justify-center items-center">
        <div class="mb-3 flex w-full max-w-screen-xl transform cursor-pointer flex-col justify-between rounded-md bg-white bg-opacity-75 p-6 text-slate-800 transition duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg dark:bg-slate-700 dark:bg-opacity-25 dark:text-slate-300 lg:flex-row lg:p-4">
            <div class="flex w-full flex-row lg:w-3/12">
                <div class="relative flex flex-col">
                <div class="flex h-12 w-12 flex-shrink-0 flex-col justify-center rounded-full bg-slate-200 bg-opacity-50 dark:bg-slate-600">
                    <img src="./public/merenderoluna.jpg" 
                        class="z-10 h-12 w-12 rounded-full object-cover shadow hover:shadow-xl" 
                        alt="Pueblo Mio" />
                </div>
                </div>
    
                <div class="ml-4 self-center overflow-x-hidden">
                    <div class="w-full truncate text-xl font-extrabold leading-5 tracking-tight">Merendero Luna</div>
                    <div class="text-sm text-slate-500">Villa Carlos Paz, Cordoba</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">Junio 6, 2024</div>
                <div class="text-sm text-slate-500">Hace 2 horas</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">
                    <span class="align-middle">$74,566.35tw</span>
                    <span class="text-[8px] ml-2 rounded bg-green-600 px-2 py-1 align-middle font-bold uppercase text-white">Pagado</span>
                </div>
                <div class="text-sm text-slate-500">Balance</div>
                </div>
            </div>
    
            <div class="w-full self-center px-1 pt-4 pb-2 lg:w-1/6 lg:px-0 lg:pt-0 lg:pb-0">
                <div class="text-base font-bold leading-4 tracking-tight">Enviado</div>
                <div class="status-bars w-full pt-2">
                <div class="flex flex-row lg:pr-6">
                    <div class="max-w-6 h-1 w-1/5 rounded bg-green-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-amber-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                </div>
                </div>
            </div>
        </div>
    </div></a>
<a href="/MerenderoNube">
    <div class="w-screen bg-slate-100 dark:bg-slate-900 flex justify-center items-center">
        <div class="mb-3 flex w-full max-w-screen-xl transform cursor-pointer flex-col justify-between rounded-md bg-white bg-opacity-75 p-6 text-slate-800 transition duration-500 ease-in-out hover:-translate-y-1 hover:shadow-lg dark:bg-slate-700 dark:bg-opacity-25 dark:text-slate-300 lg:flex-row lg:p-4">
            <div class="flex w-full flex-row lg:w-3/12">
                <div class="relative flex flex-col">
                <div class="flex h-12 w-12 flex-shrink-0 flex-col justify-center rounded-full bg-slate-200 bg-opacity-50 dark:bg-slate-600">
                    <img src="./public/merenderonube.webp" 
                        class="z-10 h-12 w-12 rounded-full object-cover shadow hover:shadow-xl" 
                        alt="Merendero Sol" />
                </div>
                </div>
    
                <div class="ml-4 self-center overflow-x-hidden">
                    <div class="w-full truncate text-xl font-extrabold leading-5 tracking-tight">Merendero Nube</div>
                    <div class="text-sm text-slate-500">Villa Carlos Paz, Cordoba</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">Junio 6, 2024</div>
                <div class="text-sm text-slate-500">Hace 2 horas</div>
                </div>
            </div>
    
            <div class="w-full self-center pt-4 lg:w-1/6 lg:pt-0">
                <div class="ml-1">
                <div class="text-xl font-extrabold leading-5 tracking-tight">
                    <span class="align-middle">$1,120,250.06</span>
                    <span class="text-[8px] ml-2 rounded bg-yellow-300 px-2 py-1 align-middle font-bold uppercase text-white">En curso</span>
                </div>
                <div class="text-sm text-slate-500">Balance</div>
                </div>
            </div>
    
            <div class="w-full self-center px-1 pt-4 pb-2 lg:w-1/6 lg:px-0 lg:pt-0 lg:pb-0">
                <div class="text-base font-bold leading-4 tracking-tight">Enviado</div>
                <div class="status-bars w-full pt-2">
                <div class="flex flex-row lg:pr-6">
                    <div class="max-w-6 h-1 w-1/5 rounded bg-green-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-amber-500"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                    <div class="max-w-6 ml-1 h-1 w-1/5 rounded bg-slate-400 bg-opacity-25 dark:bg-slate-600"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</a>

</html>
